/* styles.css or component-specific styles */

.custom-checkbox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  /* Border around the checkbox */
  border-radius: 4px;
  /* Rounded corners */
  padding: 8px;
  /* Padding inside the border */
  margin-bottom: 20px;
}

.custom-checkbox mat-checkbox {
  margin-right: 8px;
  /* Space between checkbox and label */
}

.sideNavHeading {
  font-family: 'Century Gothic', sans-serif;
  padding: 10px;
}
.mat-card-styling{
  padding-top: 20px;
}