<mat-toolbar class="top-nav d-flex justify-content-between align-items-center flex-wrap" color="primary">
    <div class="d-flex align-items-center flex-grow-1">
        <div class="menuBtnStyling">
           
        </div>
        <h2 class="sideNavHeading mb-0" ><b>Clinical Management System</b> </h2>
    </div>
    <div class="right-icons d-flex align-items-center">
       
    </div>
   
</mat-toolbar>

<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="reset-password-container">
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2 class="sideNavHeading mb-0">Reset Password</h2>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6 mb-3">
                <mat-form-field class="w-100">
                  <mat-label>New Password</mat-label>
                  <input matInput type="password" formControlName="newPassword" />
                  <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
                    New Password is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 mb-3">
                <mat-form-field class="w-100">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput type="password" formControlName="confirmPassword" />
                  <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
                    Confirm Password is required
                  </mat-error>
                  <mat-error *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('mismatch')">
                    Passwords do not match
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center">
              <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">
                Reset Password
              </button>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </form>
  