.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.chart-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 12px 16px;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

app-heatmap-chart {
  display: block;
  width: 100%;
  height: 100%;
}
.chart-wrapper {
  cursor: pointer;
}

.apexcharts-treemap-rect:hover {
  filter: brightness(1.2);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
