<div class="mainStyle">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <h2 class="mainHeading">Branches Utilization</h2>

          <mat-form-field appearance="outline" class="small-dropdown mx-5">
            <mat-label>Select City</mat-label>
            <mat-select [(ngModel)]="selectedCity" (selectionChange)="onCityChange()">
              <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="small-dropdown">
            <mat-label>Select Branch</mat-label>
            <mat-select [(ngModel)]="selectedBranch" (selectionChange)="onBranchChange()" [disabled]="!selectedCity">
              <mat-option *ngFor="let branch of branchesData[selectedCity]" [value]="branch">
                {{ branch }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <!-- Pie Chart Section -->
    <div class="col-md-8">
      <div id="container" style="width: 100%; height: 400px;">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 100%; display: block;"
        ></highcharts-chart>
      </div>
    </div>

    <!-- Utilization Section -->
    <div class="col-md-4">
      <h3 class="subHeading text-center">Utilization</h3>
      <div class="floor-data-container">
        <div class="floor-progress" *ngFor="let floor of floorData">
          <p>{{ floor.name }}: {{ floor.covered }}%</p>
          <div class="progress">
            <div
              class="progress-bar"
              [style.width]="floor.covered + '%'"
              [style.backgroundColor]="floor.color"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
