<div class="mainStyle">
  <div class="row">
    <div class="col-sm-9">
      <div class="card-header">
        <h2 class="mainHeading">Building Utilization</h2>
        <p class="paraStyle"></p>
      </div>
    </div>
    <div class="col-sm-3">
      <button mat-icon-button (click)="toggleExportInfo()" class="dots-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div *ngIf="showExportInfo" class="export-info">
        <button mat-button (click)="exportAsCsv()" class="btnExportStyle">Excel</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="width: 120%; height: 330px; display: block;"
      ></highcharts-chart>
    </div>
    <div class="col-md-4">
      <h3 style="margin-left: 78px;" class="subHeading">Utilization</h3>
      <div class="floor-data-container">
        <div class="floor-progress" *ngFor="let floor of floorData">
          <p>{{ floor.name }}: {{ floor.covered }}%</p>
          <div class="progress">
            <div
              class="progress-bar"
              [style.width]="floor.covered + '%'"
              [style.backgroundColor]="floor.color"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
