<div class="">
  <h2 class="mainHeading"></h2>
  <div class="horizontal-statistics">
    <!-- Statistics Cards -->
    <div
      *ngFor="let stat of statistics"
      class="statistics-card"
     
      style="box-shadow: 0 0 5px grey;"
    >
      <mat-icon
        class="stat-icon mb-3"
        [style.color]="getColor(stat.label)"
        >{{ stat.icon }}</mat-icon
      >
      <h3 class="stat-label">{{ stat.label }}</h3>
      <span class="stat-value">{{ stat.value }}</span>
      <button
      *ngIf="stat.label === 'Uniform Violations'"
      class="see-details-btn"
      [routerLink]="['/uniform-violations', stat.label]"
    >
      See Details
    </button>
    <button
      *ngIf="stat.label === 'Employees'"
      class="employee-details-btn"
      [routerLink]="['/vertical-surveillances-system']"
    >
      See Details
    </button>
    </div>
  </div>
</div>
