<div class="mainStyle">
  <div class="row">
    <div class="col-lg-6">
      <div class="card-header">
        <h2 class="mainHeading">SOP Compliance</h2>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <!-- Employee Dropdown -->
    <div class="dropdown-container">
      <!-- <label for="employeeSelect">Select Employee:</label> -->
      <select id="employeeSelect" [(ngModel)]="selectedEmployee" (change)="onEmployeeChange()">
        <option *ngFor="let employee of employeeNames" [value]="employee">{{ employee }}</option>
      </select>
    </div>

    <!-- Line Chart -->
    <div id="lineChart1" style="width:100%; height:321px;"></div>
  </div>
</div>
