<mat-card class="custom-card">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="card-header">
          <h2 class="mainHeading">City-Wise Statistics</h2>
        </div>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="small-dropdown">
          <mat-label>Select City</mat-label>
          <mat-select [(value)]="selectedCity" (selectionChange)="filterData()">
            <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 tblStyle">
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Branches </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle">
        <mat-icon class="mticon">{{ element.logo }}</mat-icon>
        &nbsp;&nbsp;<span>{{ element.company }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tenant">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Employees </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle"> {{ element.tenant }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="PPE">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> PPE Compliance Score </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle"> {{ element.PPE }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="effRate">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Efficiency Rate </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle"> {{ element.effRate }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="paginator-container">
    <mat-paginator [pageSizeOptions]="[7, 20, dataSource.data.length]" aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</mat-card>
