<mat-card class="custom-card">
  <!-- 3 Dots Icon Button at the Top -->
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="card-header">
          <h2 class="mainHeading">Tenant</h2>
          <p class="paraStyle">Over this Month</p>
        </div>
      </div>
      <div class="col-sm-3">
        <button mat-icon-button (click)="toggleExportInfo()" class="dots-button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <div *ngIf="showExportInfo" class="export-info">
          <button mat-button (click)="exportAsCsv()" class="btnExportStyle">Excel</button>
        </div>
      </div>
    </div>
  </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 tblStyle">
    <!-- Company Logo -->
    <ng-container matColumnDef="logo" >
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Logo </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle" style="width:300px">
        <mat-icon>{{ element.logo }}</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- Company Name -->
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Companies </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle">
        <mat-icon class="mticon">{{ element.logo }}</mat-icon>
        &nbsp;&nbsp;<span>{{ element.company }}</span>
      </mat-cell>
    </ng-container>

    <!-- Tenant Number -->
    <ng-container matColumnDef="tenant">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Tenant </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle"> {{ element.tenant }} </mat-cell>
    </ng-container>

    <!-- Floor Number -->
    <ng-container matColumnDef="floor">
      <mat-header-cell *matHeaderCellDef class="txtStyle"> Floors </mat-header-cell>
      <mat-cell *matCellDef="let element" class="txtStyle"> {{ element.floor }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Pagination -->
  <div class="paginator-container">
    <mat-paginator [pageSizeOptions]="[5, 10, dataSource.data.length]"
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <!-- Overlay Click to Close Export Section -->
</mat-card>