<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-container">
        <mat-card class="login-card">
          <mat-card-header class="card-header">
            <mat-card-title class="lblHeading" id="lblHeading">
              <div class="spinner-overlay" *ngIf="isLoading">
                <div class="spinner"></div>
              </div>
              <img
                  src="assets/logoi.png"
                  alt="Surveillance Icon"
                  class=" me-2"
                  style="width: 179px;
    height: 164px;"
                />
              <div class="sidenav-header d-flex align-items-center">
                <!-- Add the surveillance icon -->
                
                <h2 class="sideNavHeading mb-0">Building Managment System</h2>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="form-group" id="loginPadding">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" ngModel required />
                <mat-error
                  *ngIf="loginForm.controls['username']?.errors?.['required'] && loginForm.controls['username']?.touched"
                >
                  Username is required.
                </mat-error>
                <mat-error
                  *ngIf="loginForm.controls['username']?.errors?.['pattern'] && loginForm.controls['username']?.touched"
                >
                  Username must be at least 3 characters long and can include letters, numbers, underscores, and
                  hyphens.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" ngModel required minlength="6" />
                <mat-error *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
                  Password is required and must be at least 6 characters long.
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"
              class="login-button">Login</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</form>
