<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <header class="header">
                <h1>Vertical Surveillance System</h1>
            </header>
        </div>
        <div class="col-sm-4">
            <div class="header-controls">
                <mat-form-field appearance="fill">
                    <mat-label>Select Tenant/Employee/Visitor</mat-label>
                    <mat-select [(value)]="selectedName" (selectionChange)="onNameChange($event)">
                        <mat-option *ngFor="let name of names" [value]="name">{{ name }}</mat-option>
                    </mat-select>
                    
                </mat-form-field>
                &nbsp;
                <!-- <button mat-raised-button color="primary">Register Tenant</button> -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <div class="main-content">
                    <div class="video-feed">
                        <img src="assets/dashboard-image.jpeg" alt="Video Feed" />
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <h2>Employee Information</h2>
                <div class="info-section">
                     <mat-card class="employee-info-card">
                        <div class="employee-info">
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="infocontent">
                                        <mat-label><strong>Name:</strong></mat-label>
                                        <p >{{ selectedName.split('-')[1] }}</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="infocontent">
                                            <mat-label><strong>EmployeeId:</strong></mat-label>
                                            <p class="paddStyle">{{ selectedName.split('-')[0] }}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="infocontent">
                                            <mat-label><strong>Floor:</strong></mat-label>
                                            <p class="paddStyle">{{ employee.floor }}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="infocontent">
                                            <mat-label><strong>Company:</strong></mat-label>
                                            <p class="paddStyle">{{ employee.company }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <img [src]="employee.photoUrl" alt="Employee Photo" class="employee-photo" />
                                </div>
                            </div>
                        </div>
                    </mat-card>

                 
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="card-header">
                                        <h2 class="mainHeading">Check In Logs</h2>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button mat-icon-button (click)="toggleExportInfo()" class="dots-button">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <div *ngIf="showExportInfo" class="export-info">
                                        <button mat-button (click)="exportAsCsv()" class="btnExportStyle">Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-container">
                            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                          
                              <!-- Date Column -->
                              <ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.date }} </mat-cell>
                              </ng-container>
                          
                              <!-- Check-In Time Column -->
                              <ng-container matColumnDef="checkInTime">
                                <mat-header-cell *matHeaderCellDef> Check-In Time </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.checkInTime }} </mat-cell>
                              </ng-container>
                          
                              <!-- Check-Out Time Column -->
                              <ng-container matColumnDef="checkOutTime">
                                <mat-header-cell *matHeaderCellDef> Check-Out Time </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.checkOutTime }} </mat-cell>
                              </ng-container>
                          
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                          </div>
                       

                     
                    
                </div>
            </div>
        </div>
    </div>
</div>
