<div class="">
  <h2 class="mainHeading"></h2>
  <div class="horizontal-statistics">
    <!-- Statistics Cards -->
    <div
      *ngFor="let stat of statistics"
      class="statistics-card"
      [style.border-color]="getColor(stat.label)"
      [style.box-shadow]="'0 4px 8px 0 ' + getColor(stat.label)"
    >
      <mat-icon
        class="stat-icon"
        [style.color]="getColor(stat.label)"
        >{{ stat.icon }}</mat-icon
      >
      <h3 class="stat-label">{{ stat.label }}</h3>
      <span class="stat-value">{{ stat.value }}</span>
      <button class="see-details-btn" >See Details</button>
    </div>
  </div>
</div>
