<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="registration-container">
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2 class="sideNavHeading mb-0">Employee Registration Form</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-card class="registration-card">
                        <div class="spinner-overlay" *ngIf="isLoading">
                            <div class="spinner"></div>
                        </div>
                        <mat-card-content class="mat-card-styling">
                            <div class="row">
                                <h2 class="sideNavHeading mb-0 rowStyle">Personal Details</h2>
                                <!-- Employee Name -->
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Employee Name</mat-label>
                                        <input matInput type="text" name="employeeName" ngModel required>
                                        <mat-error *ngIf="employeeForm.controls['employeeName']?.invalid && (employeeForm.controls['employeeName']?.touched || employeeForm.controls['employeeName']?.dirty)">
                                            Employee Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Tenant Name</mat-label>
                                        <mat-select name="app" ngModel required>
                                            <mat-option *ngFor="let tenant of tenantNames" [value]="{ tenant_id: tenant.id, tenant_name: tenant.name }">
                                                {{ tenant.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="employeeForm.controls['tenant']?.invalid && (employeeForm.controls['tenant']?.touched || employeeForm.controls['tenant']?.dirty)">
                                            Tenant Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Tenant Name</mat-label>
                                        <mat-select name="app" ngModel required>
                                            <mat-option [value]="{ tenant_id: 1, tenant_name: 'The Vertical' }">
                                                The Vertical
                                            </mat-option>
                                            <mat-option [value]="{ tenant_id: 2, tenant_name: 'Wateen' }">
                                                Wateen
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="employeeForm.controls['tenant']?.invalid && (employeeForm.controls['tenant']?.touched || employeeForm.controls['tenant']?.dirty)">
                                            Tenant Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                
                                <!-- Contact Number -->
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Contact Number</mat-label>
                                        <input matInput type="text" name="contactNumber" ngModel pattern="^[0-9]{11}$" required>
                                        <mat-error *ngIf="employeeForm.controls['contactNumber']?.invalid && (employeeForm.controls['contactNumber']?.touched || employeeForm.controls['contactNumber']?.dirty)">
                                            Contact Number must be 11 digits.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Official Email Address -->
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Official Email Address</mat-label>
                                        <input matInput type="email" name="email" ngModel required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">
                                        <mat-error *ngIf="employeeForm.controls['email']?.invalid && (employeeForm.controls['email']?.touched || employeeForm.controls['email']?.dirty)">
                                            Please enter a valid email address.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- CNIC -->
                                <div class="col-md-6 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>CNIC</mat-label>
                                        <input matInput type="text" name="cnic" [(ngModel)]="customerFormState.CNIC"
                                        (ngModelChange)="formatCnic()"  pattern="^\d{5}-\d{7}-\d{1}$" required>
                                        <mat-error *ngIf="employeeForm.controls['cnic']?.invalid && (employeeForm.controls['cnic']?.touched || employeeForm.controls['cnic']?.dirty)">
                                            Please enter a valid CNIC (e.g., 12345-1234567-1).
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Permanent Address -->
                                <div class="col-md-12 form-group">
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Permanent Address</mat-label>
                                        <textarea matInput name="permanentAddress" ngModel required></textarea>
                                        <mat-error *ngIf="employeeForm.controls['permanentAddress']?.invalid && (employeeForm.controls['permanentAddress']?.touched || employeeForm.controls['permanentAddress']?.dirty)">
                                            Permanent Address is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Employee CNIC Image -->
                                <div class="col-md-6 form-group colStyling">
                                    <label for="cnicImage sideNavHeading mb-0" class="form-label cssStyle">Employee CNIC Image</label>
                                    <div class="input-group">
                                        <input 
                                            type="file" 
                                            id="cnicImage" 
                                            name="cnicImage" 
                                            class="form-control" 
                                            ngModel 
                                            required 
                                            (change)="onFileSelect($event,'cnic')">
                                    </div>
                                    <div class="invalid-feedback d-block" *ngIf="employeeForm.controls['cnicImage']?.invalid && 
                                                                                (employeeForm.controls['cnicImage']?.touched || 
                                                                                 employeeForm.controls['cnicImage']?.dirty)">
                                        CNIC Image is required.
                                    </div>
                                </div>
                                

                                <!-- Employee Picture -->
                                <div class="col-md-6 form-group colStyling">
                                    <label for="employeePicture sideNavHeading mb-0" class="form-label cssStyle">Employee Picture</label>
                                    <div class="input-group">
                                        <input 
                                            type="file" 
                                            id="employeePicture" 
                                            name="employeePicture" 
                                            class="form-control" 
                                            ngModel 
                                            required 
                                            (change)="onFileSelect($event,'employee')">
                                    </div>
                                    <div class="invalid-feedback d-block" *ngIf="employeeForm.controls['employeePicture']?.invalid && 
                                                                                (employeeForm.controls['employeePicture']?.touched || 
                                                                                 employeeForm.controls['employeePicture']?.dirty)">
                                        Employee Picture is required.
                                    </div>
                                </div>
                                <div class="col-md-6 form-group colStyling">
                                    <label for="employeePicture sideNavHeading mb-0" class="form-label cssStyle">Miscellaneous File  </label>
                                    <div class="input-group">
                                        <input 
                                            type="file" 
                                            id="miscImage" 
                                            name="miscImage" 
                                            class="form-control" 
                                            ngModel 
                                            required 
                                            (change)="onFileSelect($event,'misc')">
                                    </div>
                                    <div class="invalid-feedback d-block" *ngIf="employeeForm.controls['miscImage']?.invalid && 
                                                                                (employeeForm.controls['miscImage']?.touched || 
                                                                                 employeeForm.controls['miscImage']?.dirty)">
                                        Employee Picture is required.
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <h3 class="sideNavHeading mb-0 cssStyle">Select your working days</h3>
                                    <mat-form-field appearance="fill" class="w-100">
                                        <mat-label>Date Range</mat-label>
                                        <mat-date-range-input [rangePicker]="dateRangePicker" name="dateRange" ngModel >
                                            <input matStartDate placeholder="Start date" ngModel name="startDate" >
                                            <input matEndDate placeholder="End date" ngModel name="endDate" >
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
                                        <mat-error *ngIf="employeeForm.controls['dateRange']?.invalid && 
                                                          (employeeForm.controls['dateRange']?.touched || 
                                                           employeeForm.controls['dateRange']?.dirty)">
                                            Please select a valid date range.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid" class="registration-button">
                                Create Employee
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</form>
