.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it overlays above other content */
  }
  
  .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  .registration-container {
    height: 100%;/* Subtract any header or footer space */
    overflow-y: hidden; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.sideNavHeading
{
  font-family: 'Century Gothic', sans-serif ;
}