<div class="admin-content">
    <div class="container-fluid">
        <div class="row admin-styling">
            <div class="col-sm-12">
                <div class="admin-dashboard">
                    <div class="analytics-header">
                        <h2 class="analytics-title">Retail AI Analytics Overview</h2>
                        <p class="analytics-subtitle">Real-time insights across 50 Pakistan outlets</p>
                    </div>
                    <app-analytics-overview></app-analytics-overview>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="admin-dashboard">
                    <div class="analytics-header">
                        <h2 class="analytics-title">Live Footfall & Revenue Tracking</h2>
                        <p class="analytics-subtitle">Real-time data from all outlets</p>
                    </div>
                    <!-- <app-floor-heatmap></app-floor-heatmap> -->
                     <app-live-footfall-chart></app-live-footfall-chart>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="admin-dashboard">
                    <div class="violations-header">
                        <div class="violations-title">
                            <span>Live Security Feed</span>
                            <span class="status-dot" title="Live"></span>
                        </div>
                        <div class="cameras-count">258 Cameras</div>
                    </div>
                    <app-app-violations></app-app-violations>
                </div>
            </div>  
        </div>
        <div class="row salescharts">
            <div class="col-sm-12">
                <div class="admin-dashboard">
                    <div class="real-time-detection">
                        <div class="analytics-header">
                            <h2 class="analytics-title">Real Time Violation Detection</h2>
                            <p class="analytics-subtitle">Live Monitoring across all 50 outlets</p>
                        </div>
                        <div class="live-feed-container-styling">
                            <span class="status-dot" title="Live"></span>
                            <span class="cameras-count-live">Live Feed</span>
                        </div>
                    </div>
                    <app-real-time-violation></app-real-time-violation>
                </div>
            </div>
        </div>
        <div class="row salescharts">
            <div class="col-sm-6">
                <div class="admin-dashboard">
                    <div class="analytics-header">
                        <h2 class="analytics-title">Sales by Category</h2>
                        <p class="analytics-subtitle">Today's distribution</p>
                    </div>
                    <app-sales-category-chart></app-sales-category-chart>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="admin-dashboard">
                    <div class="analytics-header">
                        <h2 class="analytics-title">Weekly Trends</h2>
                        <p class="analytics-subtitle">Sales perfomance & security monitoring</p>
                    </div>
                    <app-sales-category-weekly-chart></app-sales-category-weekly-chart>
                </div>
            </div>
        </div>
        <div class="row salescharts">
            <div class="col-sm-4">
                <div class="admin-dashboard">
                    <div class="real-time-detection">
                        <div class="analytics-header">
                            <h2 class="analytics-title">System Health Overview</h2>
                            <p class="analytics-subtitle">Network & Infrastructure status</p>
                        </div>
                        <div class="live-feed-container">
                            <span class="status-dot-green" title="Live"></span>
                            <span class="cameras-count-status">Online</span>
                        </div>
                    </div>
                    <app-system-health></app-system-health>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="admin-dashboard">
                    <div class="real-time-detection">
                        <div class="analytics-header">
                            <h2 class="analytics-title">Business Insights</h2>
                            <p class="analytics-subtitle">Real-time recommenations from advanced analytics</p>
                        </div>
                        <div class="live-feed-container">
                            <span class="status-dot-green" title="Live"></span>
                            <span class="cameras-count-status">AI Active</span>
                        </div>
                    </div>
                    <app-business-insights></app-business-insights>
                </div>
            </div>
        </div>
        <div class="row salescharts">
            <div class="col-sm-12">
                <div class="admin-dashboard">
                    <div class="real-time-detection">
                        <div class="analytics-header">
                            <h2 class="analytics-title">Perfomance Metrics</h2>
                            <p class="analytics-subtitle">System accuracy scores across all modules</p>
                        </div>
                        <div class="live-feed-container">
                            <span class="status-dot-green" title="Live"></span>
                            <span class="cameras-count-status">Live Monitoring</span>
                        </div>
                    </div>
                    <app-performance-metrics></app-performance-metrics>
                </div>
            </div>
        </div>
        <div class="row salescharts">
            <div class="col-sm-12">
                <div class="admin-dashboard">
                    <div class="real-time-detection">
                        <div class="analytics-header">
                            <h2 class="analytics-title">Perfomance Overview</h2>
                            <p class="analytics-subtitle">Perfomance across major cities</p>
                        </div>
                        <div class="live-feed-container">
                            <a class="text-primary small fw-semibold">View Detailed Analytics →</a>
                        </div>
                    </div>
                    <app-performance-overview></app-performance-overview>
                </div>
            </div>
        </div>
        <div class="row salescharts">
            <div class="col-sm-12">
                <div class="admin-dashboard">
                    <div class="real-time-detection">
                        <div class="analytics-header">
                            <h2 class="analytics-title">Top Perfoming Outlets</h2>
                            <p class="analytics-subtitle">Employee efficiency and customer satisfaction leaders</p>
                        </div>
                        <div class="live-feed-container">
                            <p class="analytics-subtitle">Ranked by Overall Perfomance</p>
                            <a class="text-primary outlet-btn small fw-semibold">View Detailed Analytics →</a>
                        </div>
                    </div>
                    <app-top-performing-outlets></app-top-performing-outlets>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="admin-dashboard">
                    <h2>Live Footfall and Revenue Tracking</h2>
                    <app-graph-heatmap></app-graph-heatmap>
                </div>
            </div>
            <div class="col-sm-6"> </div>
        </div> -->
    </div>
</div>