#heatmapContainer {
  width: 100%;
  height: 500px;   /* or vh to make it fullscreen */
  position: relative;
}
app-floor-heatmap {
  display: block;
  width: 100%;
  height: 600px; /* or min-height: 600px */
}