<div class="chart-wrapper">
  <div class="chart-card">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis" [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors" [grid]="chartOptions.grid"
      [markers]="chartOptions.markers" [legend]="chartOptions.legend" [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle">
    </apx-chart>
  </div>
</div>